<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotfix">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".note.activitylifecycle.DemoActivity"/>
        <activity android:name=".activity.NetworkActivity"/>
        <activity android:name=".note.inject.retrofitdemo.RetrofitActivity"/>
        <activity
            android:name=".note.activitylifecycle.AActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".note.activitylifecycle.BActivity"/>
        <activity android:name=".note.activitylifecycle.CActivity"/>
        <activity android:name=".activity.PermissionActivity"/>
        <activity android:name=".note.inject.InjectActivity"/>
        <activity android:name=".note.nestedscroll.ScrollActivity"/>
        <activity android:name=".note.nestedscroll.nestedscroll.a_scrollview_recyclerview.NestedViewPagerActivityTest1"/>
        <activity android:name=".note.nestedscroll.nestedscroll.b_nestedscrollview_recyclerview.NestedViewPagerActivityTest2"/>
        <activity android:name=".note.nestedscroll.nestedscroll.c_fixedheight_viewpager_nestedscrollview_recyclerview.NestedViewPagerActivityTest3"/>
        <activity android:name=".note.nestedscroll.nestedscroll.e_perfect_nestedscroll.NestedViewPagerActivity"/>
        <activity android:name=".note.nestedscroll.nestedscroll.d_nestedscroll_log.NestedViewPagerActivityTest4"/>
        <activity android:name=".note.dispatch.inner.InnerInterceptActivity"/>
        <activity android:name=".note.dispatch.outer.OuterInterceptActivity"/>
        <activity android:name=".note.drawtext.activity.DrawTextActivity"/>
        <activity android:name=".note.drawtext.activity.OtherActivity"/>
        <activity android:name=".note.drawtext.activity.OverDrawActivity"/>
        <activity android:name=".note.drawtext.activity.SimpleActivity"/>
        <activity android:name=".note.drawtext.activity.TextMeasureActivity"/>
        <activity android:name=".note.drawtext.activity.ViewPagerActivity"/>
        <activity android:name=".note.drawtext.MainActivity"/>
        <activity android:name=".note.fish.FishActivity"/>
        <activity android:name=".note.recyclerview.RecyclerViewActivity"/>
        <activity android:name=".note.slideview.SlideCardActivity"/>
        <activity android:name=".note.viewpager.ViewPagerLazyActivity"/>
        <activity android:name=".note.viewpager.Main2Activity"/>
        <activity android:name=".note.binder.MMAPActivity"/>
        <activity android:name=".note.binder.demo.client.ClientActivity"/>
        <activity android:name=".activity.socket.ComplexDemoActivity"/>
        <activity android:name=".activity.socket.DemoActivity"/>
        <activity android:name=".activity.socket.SimpleDemoActivity"/>
        <activity android:name=".activity.socket.ServerAdminActivity"/>
        <activity
            android:name=".note.plugin.PluginTestActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".note.plugin.ProxyActivity"/>
        <activity android:name=".note.dagger2.FirstActivity"/>
        <activity android:name=".note.dagger2.SecondActivity"/>
        <activity android:name=".note.dagger3.DaggerActivity"/>
        <activity android:name=".note.jetpack.lifecycle.LifeCycleActivity"/>
        <activity android:name=".note.jetpack.livedata.LiveDataActivity"/>
        <activity android:name=".note.jetpack.livedata.NameActivity" />
        <activity android:name=".note.jetpack.livedata.TestLiveDataBusActivity"/>
        <activity android:name=".note.jetpack.databinding.DataBindingActivity"/>
        <activity android:name=".note.jetpack.room.RoomActivity"/>
        <activity android:name=".note.jetpack.room.ViewModelActivity"/>
        <activity android:name=".note.jetpack.navigation.NavigationActivity"/>
        <activity android:name=".note.jetpack.paging.PagingActivity"/>
        <activity android:name=".note.jetpack.workmanager.WorkManagerActivity"/>
        <service
            android:name=".note.binder.demo.server.RemoteService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.enjoy.binder" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>