<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotfix">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".note.class01.DemoActivity">

        </activity>
        <activity android:name=".activity.NetworkActivity">

        </activity>
        <activity android:name=".note.class02.retrofitdemo.RetrofitActivity">

        </activity>
        <activity
            android:name=".note.class01.AActivity"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".note.class01.BActivity">

        </activity>
        <activity android:name=".note.class01.CActivity">

        </activity>
        <activity android:name=".activity.PermissionActivity">

        </activity>
        <activity android:name=".note.class02.InjectActivity">

        </activity>
        <activity android:name=".note.class15.ScrollActivity">

        </activity>
        <activity android:name=".note.class15.nestedscroll.a_scrollview_recyclerview.NestedViewPagerActivityTest1">

        </activity>

        <activity android:name=".note.class15.nestedscroll.b_nestedscrollview_recyclerview.NestedViewPagerActivityTest2">

        </activity>
        <activity android:name=".note.class15.nestedscroll.c_fixedheight_viewpager_nestedscrollview_recyclerview.NestedViewPagerActivityTest3">

        </activity>
        <activity android:name=".note.class15.nestedscroll.e_perfect_nestedscroll.NestedViewPagerActivity">

        </activity>
        <activity android:name=".note.class15.nestedscroll.d_nestedscroll_log.NestedViewPagerActivityTest4">

        </activity>

        <activity android:name=".note.class16.inner.InnerInterceptActivity">

        </activity>

        <activity android:name=".note.class16.outer.OuterInterceptActivity">

        </activity>

        <activity android:name=".note.class17.activity.DrawTextActivity">

        </activity>

        <activity android:name=".note.class17.activity.OtherActivity">

        </activity>

        <activity android:name=".note.class17.activity.OverDrawActivity">

        </activity>

        <activity android:name=".note.class17.activity.SimpleActivity">

        </activity>

        <activity android:name=".note.class17.activity.TextMeasureActivity">

        </activity>
        <activity android:name=".note.class17.activity.ViewPagerActivity">

        </activity>
        <activity android:name=".note.class17.MainActivity">

        </activity>






    </application>

</manifest>