<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotfix">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- HotFix  android:value="ca-app-pub-8241795889030186~9750870930"  -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1498325132484748~2718337224" />

        <activity android:name=".activity.MopubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DemoActivity">

        </activity>
        <activity android:name=".activity.NetworkActivity">

        </activity>
        <activity
            android:name=".activity.AActivity"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".activity.BActivity">

        </activity>
        <activity android:name=".activity.CActivity">

        </activity>
<!--        <activity android:name=".activity.MopubActivity">-->

<!--        </activity>-->
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>